body {
    background-color: #000000;
    color: #ffffff;
}
.title {
    font-size: x-large;
    font-family: sans-serif;
}
.logo {
    width: 300px;
    height: auto;
    display: block;
    margin: auto;
    clear: both;
}
.foot {
    text-align: center;
}